.taeyeon{border: 2px solid gray;
	 border-radius: 20px;
	 color: brown
}

.taeyeon2{border: 2px solid gray;
	  border-radius: 20px;
	  color: purple
}

.taeyeon3{border: 2px solid gray;
	  border-radius: 20px;
	  color: brown
}

.taeyeon4{border: 2px solid gray;
	  border-radius: 20px;
	  color: purple
}

.ariana{border: 2px solid gray;
	border-radius: 20px;
	color: brown
}

.rihana{border: 2px solid gray;
     border-radius: 20px;
     color: purple
}

.bts{border: 2px solid gray;
     border-radius: 20px;
     color: brown
}

.v{border: 2px solid gray;
       border-radius: 20px;
       color: purple
}

.keala{border: 2px solid gray;
       border-radius: 20px;
       color: brown
}

.jeff{border: 2px solid gray;
      border-radius: 20px;
      color: purple
}

body{background:pink
}

.cabeça{background:gray
}

.fogo{background:gray
}

.corpo{background:gray
}

.creditos{background:gray
}

.arianagrande{background:beige
}

.amor{background:gray
}

.voar{background:beige
}

.amigos{background:pink
}

.eu{background:purple
}

.superando{background:brown
}

.anel{background:gray
}

.sofa{background:beige
}

.pe{background:gray
}

.prato{background:beige
}

.caneta{background:purple
}

.satur{background:brown
}

div.absolute{posição:absoluta
	     superior:0px;
	     direita:0;
	     largura:0;
	     altura:0px;
}

div.absoluto{posição:absoluta
	     superior:0px;	
	     direita:0px;
	     largura:0;
	     altura:0px;
}

div.grande{posição:absoluta
	   superior:0px;
	   direita:0;
	   largura:0;
	   altura:0px;
}

div.fenti{posição:absoluta
	  superior:0px;
	  direita:0;
	  largura:0;
	  altura:0px;
}

div.boys{posição:absoluta
	 superior:0px;
	 direita:0;
	 largura:0;
	 altura:0px;
}

div.kim{posição:absoluta
	superior:0px;
	direita:0;
	largura:0;
	altura:0px;
}

div.settle{posição:absoluta
	   superior:0px;
	   direita:0;
	   largura:0;
	   altura:0px;
}

.celular{text-align: right;
}

.letra{text-align: right;
}

.on{text-align: right;
}

.set{text-align: right;
}

.colar{text-align: right;
}

.br{text-align: right;
}

.credits{text-align: right;
}

.ending{text-align: right;
}

.go{text-align: right;
}

.if{text-align: right;
}

.like{text-align: right;
}

.got{text-align: right;
}

.my{text-align: right;
}

.day{text-align: right;
}

.forever{text-align: right;
}

.had{text-align: right;
}

.run{text-align: right;
}

.parts{text-align: right;
}

.was{text-align: right;
}

.rose{text-align: right;
}

